@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  display: grid;
  height: 100vh;
  place-items: center;
  text-align: center;
}
body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  /* background: #000; */
  background-image: url("../img/pexels-anna-tis-6341164.jpg");
  background-size: cover;
}
/* .container .butt1{
  position:absolute;
  top: 100px;
  width: 100px;
  height: 30px;
  border: 1px solid rgb(69, 15, 216);
  border-radius: 10pt;
  background-color: #111;
  color: #666;
} */
.butt1{
  position: relative;
  top: 100px;
  display: none;
  padding: 7px 30px;
  color: #2196f3;
  background:rgba(3, 2, 2, 0.897);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
}
.butt1:hover{
  color: #255784;
  background:#2196f3;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3 ;
  transition-delay: 1s ;
  }
  .butt1 span{
    position: absolute;
    display: block;
  }
  .butt1 span:nth-child(1){
    top:0;
    left:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
  }
  .butt1:hover span:nth-child(1){
    left:100%;
    transition: 1s;
  }
  .butt1 span:nth-child(2){
    top:-100%;
    right:0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#2196f3);
  }
  .butt1:hover span:nth-child(2){
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  .butt1 span:nth-child(3){
    bottom:0;
    right:-100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
  }
  .butt1:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  .butt1 span:nth-child(4)
  {
    bottom:-100%;
    left:0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#2196f3);
  }
  .butt1:hover span:nth-child(4){
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
  /* ===================================================================== */
.container{
  position: relative;
  width: 400px;
  background-size: cover;
  background: rgba(17, 17, 17, 0.897);
  padding: 30px 30px;
  border: 1px solid rgb(69, 15, 216);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}

.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
/* ============================= */
.star-widget .btn{
  height: 65%;
}
/* ================================ */
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 5px 0 20px 0;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: #eee;
  border: 1px solid rgb(69, 15, 216);
  background: #222;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  width: 100%;
  margin: 15px 0px;
}
form .btn button{
  height: 25px;
  width: 100%;
  border: 1px solid rgb(112, 71, 228);
  border-radius: 5px;
  outline: none;
  background: #444;
  color: whitesmoke;
  font-size: 18px;
  line-height: 7px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}
/* ========================== */
h3,h5{
    color: whitesmoke;
}

/* ========================== */
.container1{
  width: 400px;
  height: 200px;
  background: rgba(17, 17, 17, 0.589);
  border: 1px solid blue;
  border-radius: 10px;
}

 svg{
  font-size: 250px;
  padding-top: 11%;
}
.copy{
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
  stroke-dasharray: 8% 30%;
  stroke-dashoffset: 0%;
  animation: textanimation 6s linear infinite;
}
@keyframes textanimation{
  100%{
    stroke-dashoffset: -35%;
  }
}
.copy1{
stroke: #673ab7;
animation-delay: -1s;
}
.copy2{
  stroke: #e91e63;
  animation-delay: -2s;
  }
  .copy3{
    stroke: #ff5722;
    animation-delay: -3s;
    }
    .copy4{
      stroke: #f44336;
      animation-delay: -4s;
      }
      .copy5{
        stroke: #ffc107;
        animation-delay: -5s;
        }


@media (min-width: 200px) and (max-width: 990px)
{
  .container{
    position: relative;
    width: 340px;

  }
  .star-widget label{
    font-size: 40px;
    padding: 5px;
    box-sizing: border-box;
  }
  .star-widget .btn{
    height: 50%;
  }
  .star-widget{
    height: 100%;

  }
  .container1{
    width: 340px;
    height: 150px;
   
  }
  svg{
    font-size: 200px;
    padding-top: 11%;
  }
  form header{
    width: 100%;
    font-size: 30px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 15px 0;
    text-align: center;
    transition: all 0.2s ease;
  }

  .butt1{
    width: 320px;
  }
}
@media (min-width: 700px) and (max-width: 850px)
{
  form .btn{
   
    height: 150px;
    width: 150%;
    padding: 15px 20px 15px 10px;
  }
  
  .container{
    position: relative;
    width: 500px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid rgb(69, 15, 216);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .star-widget label{
    font-size: 50px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }

}
